
#quote-box{
   
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width:  550px;
    background-color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#new-quote{
    
    width: 100px;
    height: 38px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-color: aliceblue;
    background: transparent;
     overflow: hidden; 
}

#text{
    text-align: center;
    margin: 20px;
    
    
}

.credits{
    text-align: center;
    margin: 20px;
}

